/*--------------------------------------------------------------------------------*/
/*BUTTONS*/
/*--------------------------------------------------------------------------------*/
.btn {
	font-size: 15px;
	line-height: 1.35;
	display: inline-block;
	padding: 5px 15px;
	text-align: center;
	cursor: pointer;
	vertical-align: top;
	color: #fff;
	background: $kuler1;
	border: 1px solid darken($kuler1, 10%);
	@extend %_font_bold;
	@extend %_all_transition;
	&:hover {
		color: #fff;
		@extend %_alpha;
	}
}
// WARNA BUTTONS
@each $btn-style, $btn-color in $btn-colors {
  .btn_#{$btn-style} {
    background: $btn-color;
    color: #fff;
    border: 1px solid darken($btn-color, 10%);
  }
}
.btn_small {
	font-size: 10px;
	padding: 5px 10px;
}
.btn_large {
	font-size: 18px;
	padding: 5px 20px;
}
.btn_nofill, .btn_group.btn_nofill a  {
	border: 2px solid $kuler1;
	background: none;
	color: $kuler1;
	padding-top: 4px;
	padding-bottom: 4px;
	&:hover {
		background: $kuler1;
		@extend %_alpha1;
	}
}
.btn_group {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: inherit;
	a {
		padding: 5px 15px;
		margin: 0 -1px 0 0;
		float: left;
		position: relative;
		white-space: nowrap;
		border-width: 1px;
		@include mquery_max(xxs) {
			span {
				width: 50px;
				height: 35px;
				font-size: 12px;
				white-space: normal;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}
.btn_group_justified {
	a {
		float: none;
		width: 1%;
		display: table-cell;
	}
}



