/*--------------------------------------------------------------------------------*/
/*CONTAINER*/
/*--------------------------------------------------------------------------------*/
#content {
	position: relative;
	margin: 0 0 10px;
}
.box {
	position: relative;
	display: inline-block;
	width: 100%;
	background: #fff;
	border: 1px solid lighten($grey, 20%);
	.title_box {
		background: $kuler1;
		color: #fff;
	    padding: 8px 10px 8px 15px;
	    position: relative;
	    text-transform: uppercase;
	    max-height: 50px;
	    z-index: 4;
	    font-size: 18px;
	    @extend %_font_reg;
	    a {
	    	color: #fff;
	    	height: 100%;
	    	&:hover {
	    		@extend %_alpha;
	    	}
	    }

	}
}
.title_page {
	padding: 0 0 10px;
	color: $kuler1;
	font-size: 22px;
	font-weight: bold;
}
.box_text {
	display: block;
	@extend %_all_transition;
	.grid_row & {
		margin: 10px 0 0;
	}
	&.text_inside {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 25% 15px 15px;
		margin: 0;
		z-index: 2;
		@extend %_overlay;
	}
	h2, h3, h4 {
		font-weight: bold;
	}
}
.text_inside {
	position: relative;
	background: $kuler1;
	a {
		display: block;
		position: relative;
		color: #fff !important;
		&:hover {
			@include opacity(0.85);
		}
	}
	.date {
		color: #fff;
		@extend %_alpha;
	}
	.grid_row.gap & {
		@if $responsive_web {
		    left: $grid_gap / 4;
		    right: $grid_gap / 4;
		    @include mquery(sm) {
		      	left: $grid_gap / 2;
		      	right: $grid_gap / 2;
		    }
		}
		@else {
		    left: $grid_gap / 2;
		    right: $grid_gap / 2;
		}
	}
}
.box_img {
	width: 140px;
	float: left;
}

/*--------------------------------------------------------------------------------*/
/*RESPONSIVE BOX*/
/*--------------------------------------------------------------------------------*/
@each $value in $ratiobox_list {
  .#{$prefix}.ratio_#{nth($value, 1)}_#{nth($value, 2)}:after {
      padding-top: nth($value, 3);
    }
}

.#{$prefix}{
	display: block;
	position: relative;
	&:after {
		content: "";
		display: block;
		padding-top: 100%;
		overflow: hidden;
	}
	> .#{$prefix}_content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		background: #000;
		img {
			height: 100%;
			max-width: 100%;
		}
	}
} 