/*--------------------------------------------------------------------------------*/
/*FORMS*/
/*--------------------------------------------------------------------------------*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
textarea,
.styled-select select,
input[type="text"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    @include rounded-corner(0px);
}
input[type="text"], textarea {
	font-size: 14px;
	display: inline-block;
	border: 1px solid $border_textbox;
	padding: 5px 10px;
	margin: 0 0 10px;
	background: $bg_textbox;
}
textarea {
	resize: none;
}
button {
	cursor: pointer;
}
label {
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.5;
}
.form {
	.grid_row {
		margin: 0 0 5px;
	}
	label {
		display: inline-block;
	}
	.text {
		font-size: 14px;
		display: block;
		border: 1px solid $border_textbox;
		padding: 7px 10px;
		margin: 0 0 10px;
		background: $bg_textbox;
		&.half {
			width: 50%;
		}
		&.full {
			width: 100%;
		}
		&:hover, &:focus {
			border-color: darken($border_textbox, 12);
		}
	}
	.tip {
		display: block;
	}
}
.checkbox {
	label {
		padding-left: 20px;
		cursor: pointer;
	}
	[type="checkbox"], [type="radio"] {
		margin-left: -20px;
		margin-right: 4px;
		position: absolute;
	}
	.icon {
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    padding: 4px 3px 4px 8px;
	    margin: 0 3px 0 0;
	    text-indent: -5px;
	    vertical-align: middle;
    }
}
/*--------------------------------------------------------------------------------*/
/*SELECTBOX*/
/*--------------------------------------------------------------------------------*/
.styled-select {
    background: #fff;
    overflow: hidden;
    width: 240px;
    &.small, &.small select {
        width: 70px;
    }
    &.medium, &.medium select {
        width: 150px;
    }
    &.half {
        width: 50%;
    }
    &.full, &.full select, &.half select {
        width: 100%;
    }
    select {
        width: 240px;
        border: none;
        font-size: 14px;
        padding: 5px; /* If you add too much padding here, the options won't show in IE */
        border: 1px solid $border_textbox;
        padding: 7px 30px 7px 10px;
        background: $bg_textbox;
        @extend %_all_transition;
        &:hover {
            border-color: darken($border_textbox, 12);
        }
    }
    .caret {
        pointer-events: none;
        &:before {
            left: -25px;
            top: 14px;
            border-top-color: darken($border_textbox, 12);
        }
    }
}
.text {
	@extend %_all_transition;
}