/*--------------------------------------------------------------------------------*/
/*GENERAL*/
/*--------------------------------------------------------------------------------*/
body {
	margin: 0;
	line-height: 1.5;
	font-size: 14px;
	font-family: Arial, Helvetica, Tahoma;
}
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}
.clearfix {
  @include clearfix;
}
a {
	text-decoration: none;
	color: $link_color;
	@extend %_all_transition;
	&:hover {
		@extend %_alpha;
		color: $link_hover_color;
	}
}
hr {
	border-style: solid none none;
	border-color: #d4d4d4;
	margin: 15px 0;
}
p {
	margin: {
		top: 0;
		bottom: 20px;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
header, footer, table {
	display: table;
	width: 100%;
}
article {
	position: relative;
}
iframe {
	.ratiobox_content & {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}
header, footer, .table {
	display: table;
	width: 100%;
}

// LIST ORDER
ol, ul {
	padding: 0 0 0 25px;
	margin: {
		top: 14px;
		bottom: 14px;
	}
	margin-bottom: 14px;
	ol, ul {
		margin: {
			top: 7px;
			bottom: 0;
		}
	}
	li {
		padding: 5px 0;
	}
}

// IMAGE
img {
	vertical-align: middle;
	.full_width & {
		width: 100%;
	}
}