/*--------------------------------------------------------------------------------*/
/*GRID 12 COLUMN*/
/*--------------------------------------------------------------------------------*/
.container {
    @include make_container();
    @include make_container_max_widths();
    @include mquery_between_detikcom(lg, xl) {
      width: 1000px;
    }
    &_full {
      @include make_container();
    }
}
.grid_row {
	display: flex;
  	flex-wrap: wrap;
    @include make_row();
 }
.no_gap {
    margin-right: 0;
    margin-left: 0;
    > .col,
    > [class*="col_"] {
      	padding-right: 0;
      	padding-left: 0;
    }
}

@include make_grid_columns();