/*--------------------------------------------------------------------------------*/
/*LIST*/
/*--------------------------------------------------------------------------------*/
.list {
	// display: inline-block;
	// width: 100%;
	> article, > a {
		position: relative;
		padding-top: 0;
		padding-bottom: 10px;
		margin: 0 0 10px;
		border-bottom: 1px solid lighten($grey, 20%);
		&:last-child {
			margin: 0;
		}
	}
	> article {
		.title {
			font-size: 16px;
			font-weight: bold;
		}
	}
	a {
		display: block;
	}
	&.media_rows {
		> article > a, > a {
			@include alignment-content();
		}
		&.middle {
			> article > a, > a {
				align-items: center;
			}
		}
		.box_img {
			width: 75px;
			display: table;
		}
		> article > a, > a {
			.box_text {
				margin: 0 0 0 15px;
				width: 100%;
				-ms-flex: 1 0 0px;
	  			flex: 1; 
	  		}
		}
	}
}
.cols {
	article {
		.title {
			font-size: 16px;
			font-weight: bold;
		}
	}
	> article, > a {
		display: block;
	}
	.box_img {
		float: none;
		width: 100%;
	}
}