//--------------------------------------------------------------------------------
//WEBKIT TOOLS
//--------------------------------------------------------------------------------
@mixin rounded-corner($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin blur-radius($radius) {
  -webkit-filter: blur($radius);
     -moz-filter: blur($radius);
       -o-filter: blur($radius);
      -ms-filter: blur($radius);
          filter: blur($radius);
}
@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
     -moz-box-shadow: $args;
       -o-box-shadow: $args;
      -ms-box-shadow: $args;
          box-shadow: $args;
}
@mixin text-shadow($args...) {
  -webkit-text-shadow: $args;
     -moz-text-shadow: $args;
       -o-text-shadow: $args;
      -ms-text-shadow: $args;
          text-shadow: $args;
}
@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}
@mixin transform($args...) {
  -webkit-transform: $args;
     -moz-transform: $args;
      -ms-transform: $args;
       -o-transform: $args;
          transform: $args;
}
@mixin transform-origin($args...) {
  -webkit-transform-origin: $args;
     -moz-transform-origin: $args;
      -ms-transform-origin: $args;
       -o-transform-origin: $args;
          transform-origin: $args;
}
@mixin animation($args...) {
  -webkit-animation: $args;
     -moz-animation: $args;
      -ms-animation: $args;
       -o-animation: $args;
          animation: $args;
}
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

//--------------------------------------------------------------------------------
//BACKGROUND, OPACITY, AND GRADIENTS
//--------------------------------------------------------------------------------
@mixin linear-gradient(
  $start_color:#000000, 
  $opacity_start: 1, 
  $pos_start: 0%, 
  $end_color:#ffffff, 
  $opacity_end: 1, 
  $pos_end: 100%, 
  $direction_start: top, 
  $direction_end: bottom) {
  background: $start_color; /* Old browsers */
  background: -moz-linear-gradient($direction_start,  rgba($start_color, $opacity_start) $pos_start, rgba($end_color, $opacity_end) $pos_end); /* FF3.6+ */
  background: -webkit-linear-gradient($direction_start,  rgba($start_color, $opacity_start) $pos_start, rgba($end_color, $opacity_end) $pos_end); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to $direction_end,  rgba($start_color, $opacity_start) $pos_start, rgba($end_color, $opacity_end) $pos_end); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start_color', endColorstr='$end_color',GradientType=1 ); /* IE6-9 */
}
@mixin radial-gradient(
  $pos_rad: center, 
  $top_color:#000000, 
  $opacity_top: 1, 
  $pos_top: 100%, 
  $mid_color:#444444, 
  $opacity_mid: 1, 
  $pos_mid: 50%, 
  $bot_color:#ffffff, 
  $opacity_bot: 1, 
  $pos_bot: 0%) {
  background: $top_color; /* Old browsers */
  background: -moz-radial-gradient($pos_rad, ellipse cover, rgba($bot_color, $opacity_bot) $pos_bot, rgba($mid_color, $opacity_mid) $pos_mid, rgba($top_color, $opacity_top) $pos_top); /* FF3.6+ */
  background: -webkit-radial-gradient($pos_rad, ellipse cover, rgba($bot_color, $opacity_bot) $pos_bot, rgba($mid_color, $opacity_mid) $pos_mid, rgba($top_color, $opacity_top) $pos_top); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at $pos_rad, rgba($bot_color, $opacity_bot) $pos_bot, rgba($mid_color, $opacity_mid) $pos_mid, rgba($top_color, $opacity_top) $pos_top); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top_color', endColorstr='$bottom_color',GradientType=1 ); /* IE6-9 */
}
@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

//--------------------------------------------------------------------------------
//MEDIA QUERIES
//--------------------------------------------------------------------------------

@mixin mquery($size, $breakpoints: $grid_breakpoints) {
  $min: breakpoint_min($size, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}
@mixin mquery_max($size, $breakpoints: $grid_breakpoints_max) {
  $max: breakpoint_max($size, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}
@mixin mquery_between($lower, $upper, $breakpoints: $grid_breakpoints) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include mquery($lower, $breakpoints) {
      @content;
    }
  } @else if $min == null {
    @include mquery_max($upper, $breakpoints) {
      @content;
    }
  }
}

@mixin mquery_between_detikcom($lower, $upper, $breakpoints: $grid_breakpoints_between_detikcom) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include mquery($lower, $breakpoints) {
      @content;
    }
  } @else if $min == null {
    @include mquery_max($upper, $breakpoints) {
      @content;
    }
  }
}

//--------------------------------------------------------------------------------
//BREAKPOINTS
//--------------------------------------------------------------------------------
@function breakpoint_min($size, $breakpoints: $grid_breakpoints) {
  $min: map-get($breakpoints, $size);
  @return if($min != 0, $min, null);
}
@function breakpoint_max($size, $breakpoints: $grid_breakpoints) {
  $max: map-get($breakpoints, $size);
  @return if($max != 0, $max, null);
}
@function breakpoint_infix($size, $breakpoints: $grid_breakpoints) {
  @return if(breakpoint_min($size, $breakpoints) == null, "", "_#{$size}");
}


//--------------------------------------------------------------------------------
//GRID SYSTEM
//--------------------------------------------------------------------------------
@mixin make_container($gap: $grid_gap) {
  @if $responsive_web {
    width: 100%;
    padding-left: $gap / 4;
    padding-right: $gap / 4;
    @include mquery(md) {
      padding-left: $gap / 2;
      padding-right: $gap / 2;
    }
  }
  @else {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
  }
  margin-right: auto;
  margin-left: auto;
}
@mixin make_container_max_widths($max-widths: $container_max_widths, $breakpoints: $grid_breakpoints) {
  @if $responsive_web {
    @each $breakpoint, $container_max_widths in $max-widths {
      @include mquery($breakpoint, $breakpoints) {
        max-width: $container_max_widths;
      }
    }
  }
  @else {
    width: map-get($container_max_widths, xl);
  }
}

@mixin make_row($gap: $grid_gap) {
  @if $responsive_web {
    margin-left: -$gap / 4;
    margin-right: -$gap / 4;
    @include mquery(md) {
      margin-left: -$gap / 2;
      margin-right: -$gap / 2;
    }
  }
  @else {
    margin-left: -$gap / 2;
    margin-right: -$gap / 2;
  }
}

@mixin make_col($size, $columns: $grid-columns) {
  -ms-flex: ($size / $columns);
  flex: 0 0 percentage($size / $columns);
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width: percentage($size / $columns);
}

@mixin make_grid_columns($columns: $grid_col, $gap: $grid_gap, $breakpoints: $grid_breakpoints) {
  // Common properties for all breakpoints
  %grid_column {
    position: relative;
    width: 100%;
    @if $responsive_web {
      padding-left: $gap / 4;
      padding-right: $gap / 4;
      @include mquery(md) {
        padding-left: $gap / 2;
        padding-right: $gap / 2;
      }
    }
    @else {
      padding-left: $gap / 2;
      padding-right: $gap / 2;
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint_infix($breakpoint, $breakpoints);

    // Allow columns to stretch full width below their breakpoints
    @for $i from 1 through $columns {
      .col#{$infix}_#{$i} {
        @extend %grid_column;
      }
    }
    .col#{$infix},
    .col#{$infix}_auto {
      @extend %grid_column;
    }

    @include mquery($breakpoint, $breakpoints) {
      // Provide basic `.col-{bp}` classes for equal-width flexbox columns
      .col#{$infix} {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
      }
      .col#{$infix}_auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%; // Reset earlier grid tiers
      }

      @for $i from 1 through $columns {
        .col#{$infix}_#{$i} {
          @include make_col($i, $columns);
        }
      }
      
    }
  }
}

/*--------------------------------------------------------------------------------*/
/*RESPONSIVE BOX / ASPEC RATIO*/
/*--------------------------------------------------------------------------------*/
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
} 

//--------------------------------------------------------------------------------
//JUSTIFY CONTENT
//--------------------------------------------------------------------------------
@mixin alignment-content($align:normal) {
  -moz-box-align: center;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-pack: justify;
  align-items: $align;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  flex-flow: row nowrap;
  justify-content: space-between;
}

// --------------------------------------------------------------------------------
// Font Face
// --------------------------------------------------------------------------------
@mixin includeFont($fontFamilyName, $fileName, $weight: normal, $style: normal) {
@font-face {
    font-family: $fontFamilyName;
    font-weight: $weight;
    font-style: $style;
        //IE9 Compatibility Mode
        src: url('../fonts/#{$fileName}.eot');
        //IE6-IE8
        src: url('../fonts/#{$fileName}.eot?#iefix') format('embedded-opentype'),
             //Super Modern Browsers
             url('../fonts/#{$fileName}.woff2') format('woff2'),
             //Majority of Modern Browsers
             url('../fonts/#{$fileName}.woff') format('woff'),
             //Safari, Android, iOS
             url('../fonts/#{$fileName}.ttf') format('truetype'),
             //Legacy iOS
             url('../fonts/#{$fileName}.svg##{$fileName}') format('svg');
    }
}

// --------------------------------------------------------------------------------
// CLEARFIX
// --------------------------------------------------------------------------------
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
