/*--------------------------------------------------------------------------------*/
/*TABLE*/
/*--------------------------------------------------------------------------------*/
table {
	th {
		border: 1px solid $grey;
		padding: 10px;
		text-align: left;
	}
	td {
		border: 1px solid $grey;
		padding: 5px 10px;
	}
	&.table {
		width: 100%;
		border: none;
		background: lighten($grey, 30%);
		th {
			background: lighten($grey, 20%);
			border-color: lighten($grey, 10%);
		}
		tr {
			&:nth-child(2n) {
				background: lighten($grey, 50%);
			}
		}
		td {
			border-color: lighten($grey, 20%);
		}
	}
	&.table_dark {
		color: #fff;
		background: darken($grey, 45%);
		th {
			background: $kuler3;
			color: #fff;
			border-color: darken($grey, 50%);
		}
		tr {
			&:nth-child(2n) {
				background: darken($grey, 50%);
			}
		}
		td {
			border-color: $kuler3;
		}
	}
	&.table_small {
		font-size: 11px;
		th {
			font-size: 13px;
		}
	}
}