/*--------------------------------------------------------------------------------*/
/*HELPER*/
/*--------------------------------------------------------------------------------*/
@each $value in $value_list {
    .pd#{nth($value, 1)} {
        padding: nth($value, 2); 
    }
    .pr#{nth($value, 1)} {
        padding-right: nth($value, 2);
    }
    .pl#{nth($value, 1)} {
        padding-left: nth($value, 2);
    }
    .pt#{nth($value, 1)} {
        padding-top: nth($value, 2);
    }
    .pb#{nth($value, 1)} {
        padding-bottom: nth($value, 2);
    }
    .mb#{nth($value, 1)} {
        margin-bottom: nth($value, 2); 
    }
    .mr#{nth($value, 1)} {
        margin-right: nth($value, 2); 
    }
    .ml#{nth($value, 1)} {
        margin-left: nth($value, 2); 
    }
    .mt#{nth($value, 1)} {
        margin-top: nth($value, 2); 
    }
    .m#{nth($value, 1)} {
        margin: nth($value, 2); 
    }
}
@each $value in $fontsize_value_list {
    .f#{nth($value, 1)} {
        font-size: nth($value, 2); 
    }
}
.fl {
	float: left !important;
}
.fr {
	float: right !important;
}
.text_center {
	text-align: center;
}
.text_right {
	text-align: right;
}
.text_justify {
    text-align: justify;
}
.text_nowrap {
    white-space: nowrap;
}
.bold, strong {
	font-weight: bold;
}
.block {
	display: block;
}
.relative {
	position: relative;
}
.circle {
    @extend %_circle;
}
.paging {
    margin: 10px 0 20px;
    position: relative;
    a {
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid lighten($grey, 20%);
        background: darken(#fff, 5%);
        &.selected,
        &:hover {
            background: #fff;
        }
    } 
}
.sticky {
    @extend %_all_transition;
}

// MEDIA ICON & UTILITIES
.icon_inside {
    text-align: center;
    z-index: 2;
    @extend %_mid_center;
    @extend %_alpha;
}

// Toggle content
.hide {
  display: none !important;
}
.show {
  display: block !important;
}

/*--------------------------------------------------------------------------------*/
/*CARET*/
/*--------------------------------------------------------------------------------*/
.caret {
    position: relative;
    margin: 0 0 0 20px;
    float: right;
    &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 4px;
        border-top: 6px solid $kuler1;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        @extend %_all_transition;
    }
    &:after {
        content: '';
        position: absolute;
        left: 6px;
        top: 6px;
        border-top: 4px solid #eee;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        @extend %_all_transition;
    }
}

/*--------------------------------------------------------------------------------*/
/*EXTENDS UTILITIES*/
/*--------------------------------------------------------------------------------*/
%_circle {
  @include rounded-corner(50%);
}
%_mid_hor {
  position: relative;
  left: 50%;
  @include transform(translateX(-50%));
}
%_mid_ver {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}
%_mid_center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate3d(-50%, -50%, 0));
}
%_mp_nul {
  margin: 0;
  padding: 0;
}
%_list_none {
  list-style: none;
}
%_alpha {
  @include opacity(0.75);
}
%_alpha1 {
  @include opacity(1);
}
%_overlay {
  @include linear-gradient(#000000, 0, 0%, #000000, 0.7, 60%);
}
%_kuler1_color {
  color: $kuler1;
}
%_kuler2_color {
  color: $kuler2;
}
%_kuler3_color {
  color: $kuler3;
}
%_kuler4_color {
  color: $kuler4;
}
%_kuler1_bg {
  background: $kuler1;
}
%_kuler2_bg {
  background: $kuler2;
}
%_kuler3_bg {
  background: $kuler3;
}
%_kuler4_bg {
  background: $kuler4;
}
%_font_reg {
  font-family: $font_reg;
}
%_font_med {
  font-family: $font_med;
}
%_font_bold {
  font-family: $font_bold;
}
%_all_transition {
  @include transition(all 200ms linear 0s);
}










