//--------------------------------------------------------------------------------
//VARIABLES
//--------------------------------------------------------------------------------
$link_color       : #444;
$link_hover_color : #777;
$grey             : #A1A1A1;
$grid_col         : 12;       //JUMLAH GRID KOLOM
$grid_gap         : 20px;     //JARAK ANTAR GRID
$responsive_web   : false;

// NUANSA WARNA / KULER
$kuler1           : #777;
$kuler2           : #555;
$kuler3           : #333;
$kuler4           : #4A4A4A;

// WARNA FORM
$bg_textbox       : #f7f7f7;
$border_textbox   : #ccc;

// FONT-FACE
$font_reg         : seravek-regular;
$font_med         : seravek-medium;
$font_bold        : museo-bold;

//--------------------------------------------------------------------------------
//PADDING / MARGIN HELPER
//--------------------------------------------------------------------------------
$value_list: (
  0     0px,
  5     5px,
  10    10px,
  15    15px,
  20    20px
);

//--------------------------------------------------------------------------------
//FONT SIZE HELPER
//--------------------------------------------------------------------------------
$fontsize_value_list: (
  10    10px,
  11    11px,
  12    12px,
  13    13px,
  14    14px,
  15    15px,
  16    16px,
  18    18px,
  20    20px,
  22    22px,
  24    24px,
  26    26px
);

//--------------------------------------------------------------------------------
//BUTTONS COLOR
//--------------------------------------------------------------------------------
$btn-colors: (
  blue    : blue,
  red     : red,
  orange  : orange,
  green   : green,
  grey    : grey
);

//--------------------------------------------------------------------------------
//SOCMED COLOR ICON
//--------------------------------------------------------------------------------
$social-colors: (
  fb    : #39579a, //facebook
  tw    : #1aa9e4, //twitter
  google: #e23c05, //google plus
  ig    : #356898, //instagram
  pt    : #bd081c, //pinterest
  tb    : #36465D, //tumblr
  em    : #669C41, //email
  comm  : #A1A1A1  //comment
);

//--------------------------------------------------------------------------------
//RESPONSIVE RATIO BOX
//--------------------------------------------------------------------------------
$prefix: ratiobox;

$ratiobox_list: (
  16  9       56.25%,
  4   3       75%,
  3   4       133%,
  9   16      178%
);

//--------------------------------------------------------------------------------
//GRID BREAKPOINTS
//--------------------------------------------------------------------------------
$grid_breakpoints: (list: null);
$grid_breakpoints_max: (list: null);
$grid_breakpoints_between_detikcom: (list: null);

@if $responsive_web {
  $grid_breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  );
  $grid_breakpoints_max: (
    xxs: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  );
}
@else {
  $grid_breakpoints_between_detikcom: (
    lg: 1024px,
    xl: 1280px
  );
}

//--------------------------------------------------------------------------------
//CONTAINER BREAKPOINTS
//--------------------------------------------------------------------------------
$container_max_widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1100px
);






