html, body {
  height: 100%;
}

body {
  padding: 48px 0 !important;
  background: white;
}

header, footer {
  padding: 15px;
  background: black;
  color: white;
  position: fixed;
  z-index: 2;
}
footer a {
  color: white;
}
header {
  top: 0;
}

footer {
  bottom: 0;
}

pre {
  margin: 0;
  display: block;
  overflow-wrap: break-word;
  word-break: break-all;
}

pre code {
  white-space: pre-wrap;
  padding: 0;
}

.nt {
  color: #2f6f9f;
}

.na {
  color: #4f9fcf;
}

.s {
  color: #d44950;
}

figure {
  margin: -21px 0 0;
  padding: 15px;
  background: #f7f7f7;
  border: 1px solid #cdcdcd;
}

#menu {
  background: #eee;
  border-bottom: 1px solid #ddd;
  overflow: auto;
}

@media (min-width: 576px) {
  #menu {
    position: fixed;
    height: calc(100% - 94px);
    border-right: 1px solid #ddd;
  }
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu ul li {
  display: block;
  padding: 0;
}

#menu ul li a {
  display: block;
  padding: 7px 15px;
  color: #777;
}

#menu ul li a:hover, #menu ul li a.active {
  background: #ddd;
}

#content {
  margin: 0 0 48px;
}

#content > div {
  padding: 15px;
}

@media (min-width: 576px) {
  #content {
    margin: 0 0 48px 25%;
  }
  #content > div {
    padding: 15px 30px;
  }
}

@media (min-width: 768px) {
  #content {
    margin: 0 0 48px 16.6667%;
  }
}

.section > h3 {
  color: #5FBA7D;
}

.grid_row.contoh > div > div {
  border: 1px solid #B5E0C3;
  background: #D7F2E0;
}

.contoh .btn {
  margin-bottom: 5px;
}
