/*--------------------------------------------------------------------------------*/
/*RESPONSIVE BOX / ASPEC RATIO*/
/*--------------------------------------------------------------------------------*/
/* line 45, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: Arial;
}

/* line 119, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
body {
  margin: 0;
}

/* line 132, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
a {
  background: transparent;
}

/* line 139, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 145, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
small {
  font-size: 80%;
}

/* line 286, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
img {
  border: 0;
}

/* line 359, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 411, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 435, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 506, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 516, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  line-height: normal;
  margin: 4px 0 0;
}

/*--------------------------------------------------------------------------------*/
/*GENERAL*/
/*--------------------------------------------------------------------------------*/
/* line 4, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
body {
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
  font-family: Arial, Helvetica, Tahoma;
}

/* line 10, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 368, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 373, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 20, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
a {
  text-decoration: none;
  color: #444;
}

/* line 24, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
a:hover {
  color: #777;
}

/* line 29, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
hr {
  border-style: solid none none;
  border-color: #d4d4d4;
  margin: 15px 0;
}

/* line 34, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
p {
  margin-top: 0;
  margin-bottom: 20px;
}

/* line 40, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
}

/* line 45, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
h1 {
  font-size: 36px;
}

/* line 48, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
h2 {
  font-size: 30px;
}

/* line 51, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
h3 {
  font-size: 24px;
}

/* line 54, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
h4 {
  font-size: 18px;
}

/* line 57, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
h5 {
  font-size: 14px;
}

/* line 60, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
h6 {
  font-size: 12px;
}

/* line 63, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
header, footer, table {
  display: table;
  width: 100%;
}

/* line 67, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
article {
  position: relative;
}

/* line 71, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
.ratiobox_content iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* line 81, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
header, footer, .table {
  display: table;
  width: 100%;
}

/* line 87, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
ol, ul {
  padding: 0 0 0 25px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-bottom: 14px;
}

/* line 94, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
ol ol, ol ul, ul ol, ul ul {
  margin-top: 7px;
  margin-bottom: 0;
}

/* line 100, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
ol li, ul li {
  padding: 5px 0;
}

/* line 106, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
img {
  vertical-align: middle;
}

/* line 108, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_general.scss */
.full_width img {
  width: 100%;
}

/*--------------------------------------------------------------------------------*/
/*GRID 12 COLUMN*/
/*--------------------------------------------------------------------------------*/
/* line 4, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_grid.scss */
.container {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
}

@media (min-width: 768px) {
  /* line 4, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_grid.scss */
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 576px) {
  /* line 4, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_grid.scss */
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  /* line 4, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_grid.scss */
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  /* line 4, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_grid.scss */
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  /* line 4, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_grid.scss */
  .container {
    max-width: 1100px;
  }
}

/* line 10, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_grid.scss */
.container_full {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  /* line 10, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_grid.scss */
  .container_full {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 14, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_grid.scss */
.grid_row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

@media (min-width: 768px) {
  /* line 14, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_grid.scss */
  .grid_row {
    margin-left: -10px;
    margin-right: -10px;
  }
}

/* line 19, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_grid.scss */
.no_gap {
  margin-right: 0;
  margin-left: 0;
}

/* line 22, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_grid.scss */
.no_gap > .col,
.no_gap > [class*="col_"] {
  padding-right: 0;
  padding-left: 0;
}

/* line 247, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12, .col,
.col_auto, .col_sm_1, .col_sm_2, .col_sm_3, .col_sm_4, .col_sm_5, .col_sm_6, .col_sm_7, .col_sm_8, .col_sm_9, .col_sm_10, .col_sm_11, .col_sm_12, .col_sm,
.col_sm_auto, .col_md_1, .col_md_2, .col_md_3, .col_md_4, .col_md_5, .col_md_6, .col_md_7, .col_md_8, .col_md_9, .col_md_10, .col_md_11, .col_md_12, .col_md,
.col_md_auto, .col_lg_1, .col_lg_2, .col_lg_3, .col_lg_4, .col_lg_5, .col_lg_6, .col_lg_7, .col_lg_8, .col_lg_9, .col_lg_10, .col_lg_11, .col_lg_12, .col_lg,
.col_lg_auto, .col_xl_1, .col_xl_2, .col_xl_3, .col_xl_4, .col_xl_5, .col_xl_6, .col_xl_7, .col_xl_8, .col_xl_9, .col_xl_10, .col_xl_11, .col_xl_12, .col_xl,
.col_xl_auto {
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 768px) {
  /* line 247, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12, .col,
  .col_auto, .col_sm_1, .col_sm_2, .col_sm_3, .col_sm_4, .col_sm_5, .col_sm_6, .col_sm_7, .col_sm_8, .col_sm_9, .col_sm_10, .col_sm_11, .col_sm_12, .col_sm,
  .col_sm_auto, .col_md_1, .col_md_2, .col_md_3, .col_md_4, .col_md_5, .col_md_6, .col_md_7, .col_md_8, .col_md_9, .col_md_10, .col_md_11, .col_md_12, .col_md,
  .col_md_auto, .col_lg_1, .col_lg_2, .col_lg_3, .col_lg_4, .col_lg_5, .col_lg_6, .col_lg_7, .col_lg_8, .col_lg_9, .col_lg_10, .col_lg_11, .col_lg_12, .col_lg,
  .col_lg_auto, .col_xl_1, .col_xl_2, .col_xl_3, .col_xl_4, .col_xl_5, .col_xl_6, .col_xl_7, .col_xl_8, .col_xl_9, .col_xl_10, .col_xl_11, .col_xl_12, .col_xl,
  .col_xl_auto {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 279, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

/* line 286, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col_auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

/* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col_1 {
  -ms-flex: 0.08333;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

/* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col_2 {
  -ms-flex: 0.16667;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

/* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col_3 {
  -ms-flex: 0.25;
  flex: 0 0 25%;
  max-width: 25%;
}

/* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col_4 {
  -ms-flex: 0.33333;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

/* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col_5 {
  -ms-flex: 0.41667;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

/* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col_6 {
  -ms-flex: 0.5;
  flex: 0 0 50%;
  max-width: 50%;
}

/* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col_7 {
  -ms-flex: 0.58333;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

/* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col_8 {
  -ms-flex: 0.66667;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

/* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col_9 {
  -ms-flex: 0.75;
  flex: 0 0 75%;
  max-width: 75%;
}

/* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col_10 {
  -ms-flex: 0.83333;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

/* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col_11 {
  -ms-flex: 0.91667;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

/* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
.col_12 {
  -ms-flex: 1;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  /* line 279, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  /* line 286, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_sm_auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_sm_1 {
    -ms-flex: 0.08333;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_sm_2 {
    -ms-flex: 0.16667;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_sm_3 {
    -ms-flex: 0.25;
    flex: 0 0 25%;
    max-width: 25%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_sm_4 {
    -ms-flex: 0.33333;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_sm_5 {
    -ms-flex: 0.41667;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_sm_6 {
    -ms-flex: 0.5;
    flex: 0 0 50%;
    max-width: 50%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_sm_7 {
    -ms-flex: 0.58333;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_sm_8 {
    -ms-flex: 0.66667;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_sm_9 {
    -ms-flex: 0.75;
    flex: 0 0 75%;
    max-width: 75%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_sm_10 {
    -ms-flex: 0.83333;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_sm_11 {
    -ms-flex: 0.91667;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_sm_12 {
    -ms-flex: 1;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  /* line 279, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  /* line 286, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_md_auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_md_1 {
    -ms-flex: 0.08333;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_md_2 {
    -ms-flex: 0.16667;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_md_3 {
    -ms-flex: 0.25;
    flex: 0 0 25%;
    max-width: 25%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_md_4 {
    -ms-flex: 0.33333;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_md_5 {
    -ms-flex: 0.41667;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_md_6 {
    -ms-flex: 0.5;
    flex: 0 0 50%;
    max-width: 50%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_md_7 {
    -ms-flex: 0.58333;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_md_8 {
    -ms-flex: 0.66667;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_md_9 {
    -ms-flex: 0.75;
    flex: 0 0 75%;
    max-width: 75%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_md_10 {
    -ms-flex: 0.83333;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_md_11 {
    -ms-flex: 0.91667;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_md_12 {
    -ms-flex: 1;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  /* line 279, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  /* line 286, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_lg_auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_lg_1 {
    -ms-flex: 0.08333;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_lg_2 {
    -ms-flex: 0.16667;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_lg_3 {
    -ms-flex: 0.25;
    flex: 0 0 25%;
    max-width: 25%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_lg_4 {
    -ms-flex: 0.33333;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_lg_5 {
    -ms-flex: 0.41667;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_lg_6 {
    -ms-flex: 0.5;
    flex: 0 0 50%;
    max-width: 50%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_lg_7 {
    -ms-flex: 0.58333;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_lg_8 {
    -ms-flex: 0.66667;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_lg_9 {
    -ms-flex: 0.75;
    flex: 0 0 75%;
    max-width: 75%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_lg_10 {
    -ms-flex: 0.83333;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_lg_11 {
    -ms-flex: 0.91667;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_lg_12 {
    -ms-flex: 1;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  /* line 279, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  /* line 286, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_xl_auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_xl_1 {
    -ms-flex: 0.08333;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_xl_2 {
    -ms-flex: 0.16667;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_xl_3 {
    -ms-flex: 0.25;
    flex: 0 0 25%;
    max-width: 25%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_xl_4 {
    -ms-flex: 0.33333;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_xl_5 {
    -ms-flex: 0.41667;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_xl_6 {
    -ms-flex: 0.5;
    flex: 0 0 50%;
    max-width: 50%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_xl_7 {
    -ms-flex: 0.58333;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_xl_8 {
    -ms-flex: 0.66667;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_xl_9 {
    -ms-flex: 0.75;
    flex: 0 0 75%;
    max-width: 75%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_xl_10 {
    -ms-flex: 0.83333;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_xl_11 {
    -ms-flex: 0.91667;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  /* line 294, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_mixins.scss */
  .col_xl_12 {
    -ms-flex: 1;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*--------------------------------------------------------------------------------*/
/*TABLE*/
/*--------------------------------------------------------------------------------*/
/* line 5, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_tables.scss */
table th {
  border: 1px solid #A1A1A1;
  padding: 10px;
  text-align: left;
}

/* line 10, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_tables.scss */
table td {
  border: 1px solid #A1A1A1;
  padding: 5px 10px;
}

/* line 14, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_tables.scss */
table.table {
  width: 100%;
  border: none;
  background: #eeeeee;
}

/* line 18, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_tables.scss */
table.table th {
  background: #d4d4d4;
  border-color: #bbbbbb;
}

/* line 23, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_tables.scss */
table.table tr:nth-child(2n) {
  background: white;
}

/* line 27, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_tables.scss */
table.table td {
  border-color: #d4d4d4;
}

/* line 31, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_tables.scss */
table.table_dark {
  color: #fff;
  background: #2e2e2e;
}

/* line 34, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_tables.scss */
table.table_dark th {
  background: #333;
  color: #fff;
  border-color: #222222;
}

/* line 40, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_tables.scss */
table.table_dark tr:nth-child(2n) {
  background: #222222;
}

/* line 44, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_tables.scss */
table.table_dark td {
  border-color: #333;
}

/* line 48, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_tables.scss */
table.table_small {
  font-size: 11px;
}

/* line 50, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_tables.scss */
table.table_small th {
  font-size: 13px;
}

/*--------------------------------------------------------------------------------*/
/*FORMS*/
/*--------------------------------------------------------------------------------*/
/* line 4, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 10, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
textarea,
.styled-select select,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 21, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
input[type="text"], textarea {
  font-size: 14px;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0 0 10px;
  background: #f7f7f7;
}

/* line 29, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
textarea {
  resize: none;
}

/* line 32, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
button {
  cursor: pointer;
}

/* line 35, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
label {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
}

/* line 41, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.form .grid_row {
  margin: 0 0 5px;
}

/* line 44, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.form label {
  display: inline-block;
}

/* line 47, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.form .text {
  font-size: 14px;
  display: block;
  border: 1px solid #ccc;
  padding: 7px 10px;
  margin: 0 0 10px;
  background: #f7f7f7;
}

/* line 54, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.form .text.half {
  width: 50%;
}

/* line 57, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.form .text.full {
  width: 100%;
}

/* line 60, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.form .text:hover, .form .text:focus {
  border-color: #adadad;
}

/* line 64, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.form .tip {
  display: block;
}

/* line 69, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.checkbox label {
  padding-left: 20px;
  cursor: pointer;
}

/* line 73, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.checkbox [type="checkbox"], .checkbox [type="radio"] {
  margin-left: -20px;
  margin-right: 4px;
  position: absolute;
}

/* line 78, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.checkbox .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 4px 3px 4px 8px;
  margin: 0 3px 0 0;
  text-indent: -5px;
  vertical-align: middle;
}

/*--------------------------------------------------------------------------------*/
/*SELECTBOX*/
/*--------------------------------------------------------------------------------*/
/* line 91, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.styled-select {
  background: #fff;
  overflow: hidden;
  width: 240px;
}

/* line 95, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.styled-select.small, .styled-select.small select {
  width: 70px;
}

/* line 98, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.styled-select.medium, .styled-select.medium select {
  width: 150px;
}

/* line 101, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.styled-select.half {
  width: 50%;
}

/* line 104, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.styled-select.full, .styled-select.full select, .styled-select.half select {
  width: 100%;
}

/* line 107, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.styled-select select {
  width: 240px;
  border: none;
  font-size: 14px;
  padding: 5px;
  /* If you add too much padding here, the options won't show in IE */
  border: 1px solid #ccc;
  padding: 7px 30px 7px 10px;
  background: #f7f7f7;
}

/* line 116, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.styled-select select:hover {
  border-color: #adadad;
}

/* line 120, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.styled-select .caret {
  pointer-events: none;
}

/* line 122, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_forms.scss */
.styled-select .caret:before {
  left: -25px;
  top: 14px;
  border-top-color: #adadad;
}

/*--------------------------------------------------------------------------------*/
/*BUTTONS*/
/*--------------------------------------------------------------------------------*/
/* line 4, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
.btn {
  font-size: 15px;
  line-height: 1.35;
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
  color: #fff;
  background: #777;
  border: 1px solid #5e5e5e;
}

/* line 17, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
.btn:hover {
  color: #fff;
}

/* line 24, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
.btn_blue {
  background: blue;
  color: #fff;
  border: 1px solid #0000cc;
}

/* line 24, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
.btn_red {
  background: red;
  color: #fff;
  border: 1px solid #cc0000;
}

/* line 24, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
.btn_orange {
  background: orange;
  color: #fff;
  border: 1px solid #cc8400;
}

/* line 24, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
.btn_green {
  background: green;
  color: #fff;
  border: 1px solid #004d00;
}

/* line 24, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
.btn_grey {
  background: grey;
  color: #fff;
  border: 1px solid #676767;
}

/* line 30, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
.btn_small {
  font-size: 10px;
  padding: 5px 10px;
}

/* line 34, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
.btn_large {
  font-size: 18px;
  padding: 5px 20px;
}

/* line 38, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
.btn_nofill, .btn_group.btn_nofill a {
  border: 2px solid #777;
  background: none;
  color: #777;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* line 44, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
.btn_nofill:hover, .btn_group.btn_nofill a:hover {
  background: #777;
}

/* line 49, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
.btn_group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: inherit;
}

/* line 54, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
.btn_group a {
  padding: 5px 15px;
  margin: 0 -1px 0 0;
  float: left;
  position: relative;
  white-space: nowrap;
  border-width: 1px;
}

@media (max-width: 480px) {
  /* line 62, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
  .btn_group a span {
    width: 50px;
    height: 35px;
    font-size: 12px;
    white-space: normal;
    display: table-cell;
    vertical-align: middle;
  }
}

/* line 74, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_buttons.scss */
.btn_group_justified a {
  float: none;
  width: 1%;
  display: table-cell;
}

/*--------------------------------------------------------------------------------*/
/*CONTAINER*/
/*--------------------------------------------------------------------------------*/
/* line 4, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
#content {
  position: relative;
  margin: 0 0 10px;
}

/* line 8, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.box {
  position: relative;
  display: inline-block;
  width: 100%;
  background: #fff;
  border: 1px solid #d4d4d4;
}

/* line 14, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.box .title_box {
  background: #777;
  color: #fff;
  padding: 8px 10px 8px 15px;
  position: relative;
  text-transform: uppercase;
  max-height: 50px;
  z-index: 4;
  font-size: 18px;
}

/* line 24, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.box .title_box a {
  color: #fff;
  height: 100%;
}

/* line 34, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.title_page {
  padding: 0 0 10px;
  color: #777;
  font-size: 22px;
  font-weight: bold;
}

/* line 40, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.box_text {
  display: block;
}

/* line 43, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.grid_row .box_text {
  margin: 10px 0 0;
}

/* line 46, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.box_text.text_inside {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25% 15px 15px;
  margin: 0;
  z-index: 2;
}

/* line 56, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.box_text h2, .box_text h3, .box_text h4 {
  font-weight: bold;
}

/* line 60, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.text_inside {
  position: relative;
  background: #777;
}

/* line 63, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.text_inside a {
  display: block;
  position: relative;
  color: #fff !important;
}

/* line 67, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.text_inside a:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
}

/* line 71, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.text_inside .date {
  color: #fff;
}

/* line 75, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.grid_row.gap .text_inside {
  left: 5px;
  right: 5px;
  left: 10px;
  right: 10px;
}

/* line 84, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.box_img {
  width: 140px;
  float: left;
}

/*--------------------------------------------------------------------------------*/
/*RESPONSIVE BOX*/
/*--------------------------------------------------------------------------------*/
/* line 93, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.ratiobox.ratio_16_9:after {
  padding-top: 56.25%;
}

/* line 93, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.ratiobox.ratio_4_3:after {
  padding-top: 75%;
}

/* line 93, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.ratiobox.ratio_3_4:after {
  padding-top: 133%;
}

/* line 93, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.ratiobox.ratio_9_16:after {
  padding-top: 178%;
}

/* line 98, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.ratiobox {
  display: block;
  position: relative;
}

/* line 101, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.ratiobox:after {
  content: "";
  display: block;
  padding-top: 100%;
  overflow: hidden;
}

/* line 107, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.ratiobox > .ratiobox_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #000;
}

/* line 115, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_container.scss */
.ratiobox > .ratiobox_content img {
  height: 100%;
  max-width: 100%;
}

/*--------------------------------------------------------------------------------*/
/*LIST*/
/*--------------------------------------------------------------------------------*/
/* line 7, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_list_items.scss */
.list > article, .list > a {
  position: relative;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #d4d4d4;
}

/* line 13, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_list_items.scss */
.list > article:last-child, .list > a:last-child {
  margin: 0;
}

/* line 18, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_list_items.scss */
.list > article .title {
  font-size: 16px;
  font-weight: bold;
}

/* line 23, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_list_items.scss */
.list a {
  display: block;
}

/* line 27, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_list_items.scss */
.list.media_rows > article > a, .list.media_rows > a {
  -moz-box-align: center;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-pack: justify;
  align-items: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* line 31, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_list_items.scss */
.list.media_rows.middle > article > a, .list.media_rows.middle > a {
  align-items: center;
}

/* line 35, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_list_items.scss */
.list.media_rows .box_img {
  width: 75px;
  display: table;
}

/* line 40, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_list_items.scss */
.list.media_rows > article > a .box_text, .list.media_rows > a .box_text {
  margin: 0 0 0 15px;
  width: 100%;
  -ms-flex: 1 0 0px;
  flex: 1;
}

/* line 51, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_list_items.scss */
.cols article .title {
  font-size: 16px;
  font-weight: bold;
}

/* line 56, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_list_items.scss */
.cols > article, .cols > a {
  display: block;
}

/* line 59, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_list_items.scss */
.cols .box_img {
  float: none;
  width: 100%;
}

/*--------------------------------------------------------------------------------*/
/*HELPER*/
/*--------------------------------------------------------------------------------*/
/* line 5, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pd0 {
  padding: 0px;
}

/* line 8, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pr0 {
  padding-right: 0px;
}

/* line 11, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pl0 {
  padding-left: 0px;
}

/* line 14, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pt0 {
  padding-top: 0px;
}

/* line 17, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pb0 {
  padding-bottom: 0px;
}

/* line 20, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mb0 {
  margin-bottom: 0px;
}

/* line 23, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mr0 {
  margin-right: 0px;
}

/* line 26, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.ml0 {
  margin-left: 0px;
}

/* line 29, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mt0 {
  margin-top: 0px;
}

/* line 32, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.m0 {
  margin: 0px;
}

/* line 5, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pd5 {
  padding: 5px;
}

/* line 8, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pr5 {
  padding-right: 5px;
}

/* line 11, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pl5 {
  padding-left: 5px;
}

/* line 14, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pt5 {
  padding-top: 5px;
}

/* line 17, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pb5 {
  padding-bottom: 5px;
}

/* line 20, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 23, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mr5 {
  margin-right: 5px;
}

/* line 26, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.ml5 {
  margin-left: 5px;
}

/* line 29, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mt5 {
  margin-top: 5px;
}

/* line 32, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.m5 {
  margin: 5px;
}

/* line 5, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pd10 {
  padding: 10px;
}

/* line 8, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pr10 {
  padding-right: 10px;
}

/* line 11, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pl10 {
  padding-left: 10px;
}

/* line 14, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pt10 {
  padding-top: 10px;
}

/* line 17, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pb10 {
  padding-bottom: 10px;
}

/* line 20, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 23, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mr10 {
  margin-right: 10px;
}

/* line 26, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.ml10 {
  margin-left: 10px;
}

/* line 29, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mt10 {
  margin-top: 10px;
}

/* line 32, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.m10 {
  margin: 10px;
}

/* line 5, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pd15 {
  padding: 15px;
}

/* line 8, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pr15 {
  padding-right: 15px;
}

/* line 11, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pl15 {
  padding-left: 15px;
}

/* line 14, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pt15 {
  padding-top: 15px;
}

/* line 17, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pb15 {
  padding-bottom: 15px;
}

/* line 20, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 23, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mr15 {
  margin-right: 15px;
}

/* line 26, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.ml15 {
  margin-left: 15px;
}

/* line 29, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mt15 {
  margin-top: 15px;
}

/* line 32, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.m15 {
  margin: 15px;
}

/* line 5, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pd20 {
  padding: 20px;
}

/* line 8, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pr20 {
  padding-right: 20px;
}

/* line 11, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pl20 {
  padding-left: 20px;
}

/* line 14, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pt20 {
  padding-top: 20px;
}

/* line 17, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.pb20 {
  padding-bottom: 20px;
}

/* line 20, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 23, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mr20 {
  margin-right: 20px;
}

/* line 26, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.ml20 {
  margin-left: 20px;
}

/* line 29, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.mt20 {
  margin-top: 20px;
}

/* line 32, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.m20 {
  margin: 20px;
}

/* line 37, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.f10 {
  font-size: 10px;
}

/* line 37, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.f11 {
  font-size: 11px;
}

/* line 37, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.f12 {
  font-size: 12px;
}

/* line 37, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.f13 {
  font-size: 13px;
}

/* line 37, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.f14 {
  font-size: 14px;
}

/* line 37, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.f15 {
  font-size: 15px;
}

/* line 37, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.f16 {
  font-size: 16px;
}

/* line 37, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.f18 {
  font-size: 18px;
}

/* line 37, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.f20 {
  font-size: 20px;
}

/* line 37, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.f22 {
  font-size: 22px;
}

/* line 37, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.f24 {
  font-size: 24px;
}

/* line 37, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.f26 {
  font-size: 26px;
}

/* line 41, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.fl {
  float: left !important;
}

/* line 44, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.fr {
  float: right !important;
}

/* line 47, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.text_center {
  text-align: center;
}

/* line 50, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.text_right {
  text-align: right;
}

/* line 53, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.text_justify {
  text-align: justify;
}

/* line 56, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.text_nowrap {
  white-space: nowrap;
}

/* line 59, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.bold, strong {
  font-weight: bold;
}

/* line 62, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.block {
  display: block;
}

/* line 65, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.relative {
  position: relative;
}

/* line 71, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.paging {
  margin: 10px 0 20px;
  position: relative;
}

/* line 74, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.paging a {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #d4d4d4;
  background: #f2f2f2;
}

/* line 79, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.paging a.selected, .paging a:hover {
  background: #fff;
}

/* line 90, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.icon_inside {
  text-align: center;
  z-index: 2;
}

/* line 98, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.hide {
  display: none !important;
}

/* line 101, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.show {
  display: block !important;
}

/*--------------------------------------------------------------------------------*/
/*CARET*/
/*--------------------------------------------------------------------------------*/
/* line 108, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.caret {
  position: relative;
  margin: 0 0 0 20px;
  float: right;
}

/* line 112, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.caret:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 4px;
  border-top: 6px solid #777;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

/* line 122, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.caret:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;
  border-top: 4px solid #eee;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

/*--------------------------------------------------------------------------------*/
/*EXTENDS UTILITIES*/
/*--------------------------------------------------------------------------------*/
/* line 137, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 150, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.icon_inside {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

/* line 163, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
a:hover, .btn:hover, .box .title_box a:hover, .text_inside .date, .icon_inside {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

/* line 166, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.btn_nofill:hover, .btn_group.btn_nofill a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 169, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.box_text.text_inside {
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 60%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 60%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 60%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start_color', endColorstr='$end_color',GradientType=1 );
  /* IE6-9 */
}

/* line 196, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.box .title_box {
  font-family: seravek-regular;
}

/* line 202, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
.btn {
  font-family: museo-bold;
}

/* line 205, /Applications/XAMPP/xamppfiles/htdocs/design/framework/sample_project/scss/assets/_utilities.scss */
a, .styled-select select, .text, .btn, .box_text, .sticky, .caret:before, .caret:after {
  -webkit-transition: all 200ms linear 0s;
  -moz-transition: all 200ms linear 0s;
  -ms-transition: all 200ms linear 0s;
  -o-transition: all 200ms linear 0s;
  transition: all 200ms linear 0s;
}

@font-face {
  font-family: "seravek-regular";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/seravek-regular.eot");
  src: url("../fonts/seravek-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/seravek-regular.woff2") format("woff2"), url("../fonts/seravek-regular.woff") format("woff"), url("../fonts/seravek-regular.ttf") format("truetype"), url("../fonts/seravek-regular.svg#seravek-regular") format("svg");
}

@font-face {
  font-family: "seravek-medium";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/seravek-medium.eot");
  src: url("../fonts/seravek-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/seravek-medium.woff2") format("woff2"), url("../fonts/seravek-medium.woff") format("woff"), url("../fonts/seravek-medium.ttf") format("truetype"), url("../fonts/seravek-medium.svg#seravek-medium") format("svg");
}

@font-face {
  font-family: "museo-bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/museo-700.eot");
  src: url("../fonts/museo-700.eot?#iefix") format("embedded-opentype"), url("../fonts/museo-700.woff2") format("woff2"), url("../fonts/museo-700.woff") format("woff"), url("../fonts/museo-700.ttf") format("truetype"), url("../fonts/museo-700.svg#museo-700") format("svg");
}

/*# sourceMappingURL=../../docs/css/style.map */